html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
h1,h2{
    margin: 0;
}
button{
    font-size: medium;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
button:active{
    background-color: white;
    color: black;
}
.header{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.header input{
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
    width: 40vw;
    background-color: black;
    color: white;
    font-size: medium;
}
input::placeholder {
    font-size: medium;
}

input::-webkit-input-placeholder { /* WebKit, Safari, Chrome */
    font-size: medium;
}
.pantalla{
    width: 100vw;
    height: 72vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.tabla{
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.jugador{ 
    height: 140px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.nombre{
    display: flex;
    justify-content: center;
    width: 40%;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.apuesta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
}

.apuesta button{
    width: 30px;
    background-color: rgb(150,150,150);
    color: black;
    display: flex;
    justify-content: center;
}

.puntos{
    display: flex;
    width: 100%;
}

.comandos{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#botonOpciones{
    background-color: white;
    color: black;
}
.opciones{
   
    position: fixed; /* Fija el div en la posición relativa a la ventana del navegador */
    top: 50%; /* Coloca el div en el medio verticalmente */
    left: 50%; /* Coloca el div en el medio horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar exactamente */
    z-index: 9999; /* Asegura que el div esté por encima de todos los demás elementos */
    background-color: white; /* Fondo blanco para que se vea claro */
    padding: 20px; /* Espacio interno para el contenido */
    padding-top: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para hacer que el div se destaque */
    border: 1px solid black; /* Borde del div */
    border-radius: 16px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(150, 150, 150);
    display: none;
}
.opciones button{
    width: 150px;
}
.cerrar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
}
#cerrarOpciones{
    background-color: rgba(150, 150, 150);
    border: none;
    width: 20px;
    color: black;
}
